body {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    /* font-family: 'monteserrat'; */
    background-image: url("/bg.jpg");
    background-size: cover;
}

.outer_div {
    background-color: rgb(33, 32, 32);
    border-radius: 1rem;
    width: 420px;
    height: 33rem;
    margin: 1rem auto;

}

.heading {
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
}

.input {
    width: 77%;
    height: 12%;
    margin-left: 3rem;
    background-color: gainsboro;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    padding-inline-end: 0.75rem;
    font-family: "Orbitron", sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem;
    padding: 1rem 3.7rem;
    /* background-color: aquamarine; */
}

.num_btn {
    width: 4rem;
    height: 4rem;
    text-align: center;
    /* padding: 30px; */
    font-size: x-large;
    border-radius: 0.3rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: gainsboro;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-out;
    font-family: "Orbitron", sans-serif;
}

.num_btn:hover {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

.del_btn {
    background-color: red;
    color: white;
    width: 4rem;
    height: 4rem;
    text-align: center;
    /* padding: 30px; */
    font-size: x-large;
    border-radius: 0.3rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-out;
    font-family: "Orbitron", sans-serif;
}

.del_btn:hover {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

.grid_eq {
    display: grid;
    /* grid-template-columns: 5rem 5rem 5rem 5rem; */
    padding: 0 3.5rem;
}

.eq_btn {
    background-color: red;
    color: white;
    width: 100%;
    height: 3rem;
    font-size: x-large;
    border-radius: 0.3rem;
    border: none;
    /* margin-top: 0.5rem; */
    cursor: pointer;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-out;
    font-family: "Orbitron", sans-serif;
}

.eq_btn:hover {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
    .outer_div {
        width: 85%;
        height: 33rem;
    }

    .input {
        width: 80%;
        height: 4rem;
        margin: 0 2rem;
        font-size: 1rem;
    }

    .grid_container {
        grid-template-columns: repeat(4, 1fr);
        padding: 0.5rem 1.5rem;
        margin-left: 1.5rem;
        gap: 0.2rem 0;
    }

    .num_btn,
    .del_btn {
        width: 80%;
        height: 4rem;
        font-size: x-large;
        text-align: center;
    }

    .grid_eq {
        padding: 0.5rem 1rem 1rem 2rem;
    }

    .eq_btn {
        width: 92%;
        height: 3rem;
        font-size: x-large;
        margin-left: 0.5rem;
    }
}